/* =========================
  Base Element stylesheet
============================ */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Varela Round', sans-serif;
  line-height: 1.6;
  color: #3a3a3a;
  padding: .5em;
}

p {
  font-size: .95em;
  margin-bottom: 1.8em;
}

h2,
h3,
a {
  color: #093a58;
}

h2,
h3 {
  margin-top: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* =================================
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
  font-size: 1.25em;
}

.name a,
.main-nav a {
  text-align: center;
}

.main-nav a {
  font-size: .95em;
  color: #093a58;
  text-transform: uppercase;
}

.main-nav a:hover {
  color: #2575a8;
}

/* ---- Layout Containers ---- */

.banner {
  color: #fff;
  background: #A5ACAF;
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

.main-footer {
  background: #d9e4ea;
  padding: 2em 0;
  margin-top: 30px;
}

/* ---- Page Elements ---- */

.logo {
  width: auto;
  height: auto;
}

.headline,
.tagline {
  color: #0c0c0c;
}

.feat-img {
  width: auto;
  height: auto;

}

/* ============================
  Media Queries
=============================== */

@media (min-width: 780px) {

  /* ---- Float clearfix @ 780px---- */

  .main-nav {
    float: right;
    margin-right: 25px;
  }

  .main-nav li {
    float: left;
    margin-left: 15px;
    margin-top: 15px;
  }

  .main-nav a {
    padding: 10px 10px;
  }

  .name {
    float: left;
    margin-left: 15px;
  }

  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

  .logo {
    display: block;
    margin: 0 auto;
    padding-top: 20px;
  }

  .headline {
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
  }

  .tagline {
    display: block;
    text-align: center;
    padding-bottom: 10px;
  }

  .col {
    display: inline-block;
    width: 33%;
    vertical-align: top;
    margin-right: -5px;
    padding-right: 1em;
    padding-left: 1em;
  }

  .main-footer {
    text-align: center;
  }

}

@media (min-width: 400px) {

  /* ---- Float clearfix @ 400px---- */

  .logo {
    display: block;
    margin: 0 auto;
    padding-top: 20px;
  }

  .headline {
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
  }

  .tagline {
    display: block;
    text-align: center;
    padding-bottom: 10px;
  }

  .feat-img {
    
  }

}
