/* =========================
  Base Element stylesheet
============================ */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Varela Round', sans-serif;
  line-height: 1.6;
  color: #3a3a3a;
  padding: .5em;
}

p {
  font-size: .95em;
  margin-bottom: 1.8em;
  padding-left: 5px;
}

h2,
h3,
a {
  color: #093a58;
}

h2,
h3 {
  margin-top: 0;
  padding-left: 5px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* =================================
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
  font-size: 1.25em;
  text-align: center;
}

.main-header {
  background: #fff;
  box-shadow: 0 1px 4px rgba(0,0,0,.4);
  top: 0;
  width: 100%;
  z-index: 1000;
  padding-top: 1px;
  padding-bottom: 5px;
}

.main-nav {
  text-align: center;
}

.main-nav a {
  font-size: .95em;
  color: #093a58;
}

.main-nav a:hover {
  color: #2575a8;
}

/* ---- Layout Containers ---- */

.banner {
  color: #fff;
  background: #134C5D;
  width: 100%;
  height: 100%;
  margin-top: 5px;
  margin-bottom: 20px;
  padding-bottom: 5px;
}

.main-footer {
  background: #d9e4ea;
  padding: 2em 0;
  margin-top: 30px;
  text-align: center;
}

/* ---- Page Elements ---- */

.logo {
  width: auto;
  height: auto;
}

.headline {
  color: #FFFFFF;
  padding-left: 5px;
}

.tagline {
  color: #C8DFB2;
  padding-left: 5px;
}

.feat-img {
  width: auto;
  height: auto;

}

/* ============================
  Media Queries
=============================== */

@media (min-width: 780px) {

  /* ---- @ 780px---- */

  .main-header,
  .main-nav,
  .container {
    display: flex;
  }

  .main-header {
    justify-content: space-between;
  }

  .main-nav {
    padding-right: 20px;
  }

  .main-nav li {
    margin-left: 15px;
    margin-top: 15px;
  }

  .banner {
    margin-top: 60px;
  }

  .col {
    flex: 1 50%;
  }

  .container {
    flex-wrap: wrap;
  }

/*
  Fixed main header navigation, add box shadow, adjust width,
  set z-index to 1000 so it'll stack above all other potential
  fixed elements
 */
  .main-header {
    position: fixed;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0,0,0,.4);
    top: 0;
    width: 98.8%;
    z-index: 1000;
  }


  .name {
    float: left;
    margin-left: 15px;
  }


  .logo {
    display: block;
    margin: 0 auto;
    padding-top: 20px;
    width: 900px;
    height: 430px;

  }

  .headline {
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
  }

  .tagline {
    display: block;
    text-align: center;
    padding-bottom: 10px;
  }

/*--Center main content section --*/
  .container {
    width: 90%;
    margin: 0 auto;
  }

  .main-footer {
    text-align: center;
  }

}

@media (min-width: 1025px) {

  .main-header {
    flex-direction: row;
    justify-content: space-between;
  }


  .col {
    flex-basis: 0;
    padding-left: 5px;
    padding-right: 5px;
  }

  .primary {
    flex-grow: 1.4;
  }

}
